# Snowshoe hares at Bonanza Creek Experimental Forest

Week 3 Discussion

## A little about the data

This dataset is from the Environmental Data Initiative from the study *Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present* looking at snowshow hares (*Lepus americanus*) looking at capture-recapture

Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2025-10-17).

# 2. Adding an image

![image description](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

# 3. Data loading and preliminary exploration

In [3]:
import pandas as pd 

hares = pd.read_csv('https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701')

In [5]:
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

1. What are the dimensions of the dataframe and what are the data types of the columns? Do the data types match what you would expect from each column?
2. Are there any columns that have a significant number of NA values?
3. What are the minimum and maximum values for the weight and hind feet measurements?
4. What are the unique values for some of the categorical columns?
5. An explroatory question about the data frame you come up with!

In [6]:
hares.shape

(3380, 14)

In [10]:
hares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3380 entries, 0 to 3379
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3380 non-null   object
 1   time        264 non-null    object
 2   grid        3380 non-null   object
 3   trap        3368 non-null   object
 4   l_ear       3332 non-null   object
 5   r_ear       3211 non-null   object
 6   sex         3028 non-null   object
 7   age         1269 non-null   object
 8   weight      2845 non-null   float64
 9   hindft      1633 non-null   float64
 10  notes       243 non-null    object
 11  b_key       3333 non-null   float64
 12  session_id  3380 non-null   int64
 13  study       3217 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 369.8+ KB

In [12]:
hares.isna().count()

date          3380
time          3380
grid          3380
trap          3380
l_ear         3380
r_ear         3380
sex           3380
age           3380
weight        3380
hindft        3380
notes         3380
b_key         3380
session_id    3380
study         3380
dtype: int64

# 4. Detecting messy values

| Syntax      |  Description| 
| ----------- | ----------- |
| m      | male       |
| f   | female       |

The purpose of the drop NA paramenter is to

# 5. Brainstorm

# 6. Clean values

Create a new column called sex_simple using the `numpy.select()` function so that
‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,
‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and
anything else gets assigned np.nan
Check the counts of unique values (including NAs) in the new `sex_simple column`.

In [15]:
import numpy as np

In [14]:
hares.sex.unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

In [16]:
# assign x as hares.sex 

x = hares.sex
x

0       NaN
1         M
2         M
3       NaN
4       NaN
       ...
3375    NaN
3376    NaN
3377    NaN
3378    NaN
3379      M
Name: sex, Length: 3380, dtype: object

In [49]:
condlist = [x.isin(['F','f','f_']), x.isin(['M','m','m_'])] 
outputlist = ['female', 'male']

hares['sex_simple'] = np.select(condlist, outputlist, default = np.nan)

In [52]:
hares['sex_simple'].shape

(3380,)

In [46]:
pd.DataFrame(column).stack().value_counts

<bound method IndexOpsMixin.value_counts of 0  0        nan
   1       male
   2       male
   3        nan
   4        nan
           ...
2  3375     nan
   3376     nan
   3377     nan
   3378     nan
   3379     nan
Length: 10140, dtype: object>

In [39]:
pd.DataFrame(column).stack()

0  0        nan
   1       male
   2       male
   3        nan
   4        nan
           ...
2  3375     nan
   3376     nan
   3377     nan
   3378     nan
   3379     nan
Length: 10140, dtype: object

# 7. Calculate mean weight

Use groupby() to calculate the mean weight by sex using the new column.
Write a full sentence explaining the results you obtained. Don’t forget to include units.

In [51]:
hares.groupby('sex_simple')['weight'].mean()

sex_simple
female    1366.920372
male      1352.145553
nan       1176.511111
Name: weight, dtype: float64